<h1 id='title'>Adicionar novo filme</h1>

<style>
#form-new-movie {
    padding: 1%;
}
#title {
    text-align: center;
}
</style>

<div id='form-new-movie'>
    <%= render 'form', filme: @filme %>
</div>