<h1>Sobre o filme:</h1>

<b>Título:</b> <%= @filme.nome %>
</br>
<b>Diretor:</b> <%= @filme.diretor %>
</br>
<b>Descrição:</b> <%= @filme.descricao %>
</br>
<b>Data de Lançamento:</b> <%= @filme.data_lancamento %>
</br>